* {
    box-sizing: border-box;   /* background-color: #ef8505;*/
  }
  
body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  padding: 1vw;
  margin: 0;
}

h1 {
  font-size: 45px;
  color: white;
  position: relative;
}

button {
  margin-top: 20px;
}

#canvas {
  background-color: #4f4e4e;
  display: inline-block;
  border-radius: 5px;
  margin-left: 1vw;
  margin-top: -1vw;
  margin-bottom: -1vw;
}

#gameMenu {
  background-color: rgb(174, 170, 170);
  display: inline-block;
  border-radius: 5px;
  margin-left: 50vw;
  margin-top: 5vh;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#gameStats{
  background-color: rgba(26, 26, 26, 0.591);
  display: inline-block;
  border-radius: 5px;
  margin-top: 3vh;
}